<div class="eventdetails" style="text-align: left; padding-left: 0px; margin-top: 100px">
  
        
    <div class="eventdetails-container">
        <div class="question-container">
            <span class="heading2">What Is<br><span class="gradient-typo typewriter heading1"><b>#CYPERQUEST</b></span></span>
        </div>
        <div class="answer-container">
            <p>
                Cyper Quest 2023 is an electrifying Capture The Flag (CTF) event organized by the Cyper Club of the CSE - Cloud Technology and Information Security Department.
            </p>
            <p>
                Immerse yourself in the realms of cybersecurity, where you'll tackle challenges such as Web Hacking, Cloud Hacking, OSINT, Forensic, and Cryptography. This event is designed to offer you a dynamic platform to enhance your practical cybersecurity skills, placing a strong emphasis on your growth and development in this exciting field.
            </p>
            <a href="#!" class="btn btn-block btn-outline-success" style="border-color: limegreen;"> Must Read The Rules & FAQ ⟱</a>
        </div>
    </div>

    <div class="eventdetails-container">
        <div class="question-container">
            <span class="heading2" id="why">Why <br><span class="gradient-typo typewriter heading1"><b>#PARTICIPATE</b></span></span>

        </div>
        <div class="answer-container">
            
            <div class="prizes-container">
                <p>WIN EXCITING PRIZES | FLEX YOUR HACKING SKILLS</p>
                <p>Get a hands-on approach to cybersecurity challenges, covering a wide spectrum of domains like Web Hacking, Cloud Hacking, OSINT, Forensic, and Cryptography.</p>
            </div>

            <a href="#!" class="btn btn-block btn-outline-success" style="border-color: limegreen;">Prizes Worth ₹7000/-</a>
        </div>
    </div>
    
    
    
</div>


<style>
    @media (max-width: 375px) {
        .eventdetails {
          text-align: center; /* Center the text on small screens */
          margin-left: 0 !important; /* Remove left margin */
          padding-left: 0 !important; /* Remove left padding */
          margin-top: 50px; /* Adjust top margin for spacing */
        }
      
        .eventdetails-container {
          margin-bottom: 30px; /* Adjust spacing between containers */
        }
      
        .heading2 {
          font-size: 20px; /* Adjust font size for headings */
        }
      
        .gradient-typo {
          font-size: 24px; /* Adjust font size for gradient text */
        }
      
        .answer-container p {
          font-size: 16px; /* Adjust font size for paragraphs */
        }
      
        .btn {
          font-size: 16px; /* Adjust font size for buttons */
          margin-top: 20px; /* Adjust top margin for buttons */
        }
      
        .prizes-container p {
          font-size: 14px; /* Adjust font size for prize descriptions */
        }
      }
    </style>      