<div class="prizes-container" style="margin-left: -0px; padding-left: 0px; margin-top: 100px; color:white; font-family: 'JetBrains Mono', monospace;">
    <span class="heading2" style="text-align: center; display: block; text-align: center; margin: 0 auto;">
        Check Out The<br>
        <span class="gradient-typo"><b>#PrizesAndRewards</b></span>
      </span>

    <div class="container" style="margin-top: 50px">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="https://github.com/knoxhunter03/Web-Development-Course/blob/main/My%20Projects/CTF-Frontend(Html-Css-Js-Bootstrap)/extras/prize1.jpg?raw=true" class="card-img-top" alt="Card Image">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 30px;"><b>Guess It?</b></h5>
              <p class="card-text">We have a surprise for you, keep guessing it until you have it!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="https://github.com/knoxhunter03/Web-Development-Course/blob/main/My%20Projects/CTF-Frontend(Html-Css-Js-Bootstrap)/extras/prize2jpg.jpg?raw=true" class="card-img-top" alt="Card Image">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 30px;"><b>Get Exciting Goodies!</b></h5>
              <p class="card-text">Get a chance to win Vouchers, Thermos Flasks and Mugs!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="https://github.com/knoxhunter03/Web-Development-Course/blob/main/My%20Projects/CTF-Frontend(Html-Css-Js-Bootstrap)/extras/prize3.jpg?raw=true" class="card-img-top" alt="Card Image">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 30px;"><b>Certificates</b></h5>
              <p class="card-text">All the participants<br>will get official<br>certificates.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <style>
      .card {
        margin: 10px;
        border: none;
        background: black;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        font-family: 'JetBrains Mono', monospace;
        transition: transform 0.3s;
      }
  
      .card:hover {
        transform: scale(1.05);
      }
  
      .card-title {
        font-size: 24px;
        background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
  
      .card-text {
        color: white;
      }

    /* Media query for smaller screens (e.g., phones) */
    @media (max-width: 768px) {
    .card {
        width: 80%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the card horizontally */
    }

    .card-title {
        font-size: 18px; /* Reduce the font size for smaller screens */
    }
}
    </style>
  </div>
  