
<div class="rules-container" style="margin-left: -0px; padding-left: 0px; margin-top: 100px; color:white;
font-family: 'JetBrains Mono', monospace;">
    
<span class="heading2" style="text-align: center; display: block; text-align: center; margin: 0 auto;">
    Read<br><span class="gradient-typo"><b>#Rules</b></span></span>

  <div class="containerDiv">
    <div class="column">
        <ol style="text-align: justify; font-size: 18px; margin-top: 50px ">
        
            <p><strong>1. Team Composition:</strong></p>
            <ul>
                <li>Teams must consist of 3 members.</li>
                <li>Each participant can only be part of one team.</li>
                <li>Team members can collaborate and work together to solve challenges.</li>
            </ul>
        
      
            <p><strong>2. Eligibility:</strong></p>
            <ul>
                <li>The event is open to all students of the CSE-CTIS and CTMA Departments of Jain University.</li>
                <li>Participants are required to register their teams before the event starts.</li>
            </ul>
        
      
            <p><strong>3. Conduct and Fair Play:</strong></p>
            <ul>
                <li>Participants are expected to maintain a high standard of sportsmanship and ethical behavior throughout the event.</li>
                <li>Any form of cheating, plagiarism, or unethical behavior will result in disqualification.</li>
                <li>All challenges must be solved without exploiting vulnerabilities of the CTF platform or attempting to disrupt its functionality.</li>
            </ul>
        
      
            <p><strong>4. Challenge Solving:</strong></p>
            <ul>
                <li>Challenges are divided into different categories: Web Hacking, Cloud Hacking, OSINT, Cryptography, and Forensics and miscellaneous domains.</li>
                <li>Teams can choose which challenges to work on and in which order.</li>
                <li>Flags for each challenge should be submitted in the specified format to earn points.</li>
            </ul>
        
        </ol>
    </div>
    <div class="column" id="column2">
        <ol style="text-align: justify; font-size: 18px; margin-top: 50px ">
        
            <p><strong>5. Flag Submission:</strong></p>
            <ul>
                <li>Flags must be submitted through the CTF platform using the provided submission form.</li>
                <li>The format for flag submission will be provided with each challenge description. Points will be awarded for correct flag submissions.</li>
            </ul>
        
      
            <p><strong>6. Leaderboard and Scoring:</strong></p>
            <ul>
                <li>The event will have a real-time leaderboard that displays team rankings based on the points earned.</li>
                <li>Points are awarded for solving challenges, and the team with the highest total points will be ranked first.</li>
                <li>The leaderboard will be displayed on the CTF platform and updated throughout the event.</li>
            </ul>
        
      
            <p><strong>7. Collaboration:</strong></p>
            <ul>
                <li>Collaboration between different teams is strictly prohibited. Each team must work independently to solve challenges.</li>
            </ul>
        
      
          <p><strong>8. Prizes:</strong></p>
          <ul>
              <li>Prizes will be awarded to the top three teams with the highest points.</li>
              <li>Finalized prize details will be announced during the event.</li>
          </ul>
      
    
          <p><strong>9. Organizers' Decision:</strong></p>
          <ul>
              <li>The organizers' decisions on all matters related to the event are final and binding.</li>
              <li>Any dispute arising during the event will be resolved by the organizers.</li>
          </ul>
      
        </ol>
    </div>
</div>

  <style>
    .containerDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .column {
        flex-basis: calc(50% - 10px); /* Adjust the width of columns as needed */
        padding: 10px;
    }

    ul {
        list-style-type: square; /* Change this to 'disc' for dots or 'square' for filled squares */
    }

    li{
      color: white;
    }
   

    strong {
        text-transform: uppercase;
        background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    @media (max-width: 768px) {
        .containerDiv {
            flex-direction: column;
        }

        .column {
            flex-basis: 100%;
        }
    }

 
</style>


  <a href="https://github.com/knoxhunter03/Web-Development-Course/raw/58a75d4363846c6808fd7e6e0832cc8117baf1ea/My%20Projects/CTF-Frontend(Html-Css-Js-Bootstrap)/sources/rules_pdf/Cyper%20Quest%202023_Rules%20and%20Guidelines.pdf" 
  class="btn btn-block btn-outline-success responsive-link"  
  style="border-color: limegreen; margin: 50px auto; width: 500px; display: block;"
  target="_blank">Download a complete PDF of all the rules</a>

  
</div>
